#about-us
    .contact-container
        margin-bottom: 160px

    .contact
        padding: 34px 32px
        width: 100%
        min-height: 50%
        top: calc( 55% + 8px )
        border-radius: 16px
